! Configuration File5 for keepalived
global_defs {

	!! Server ID
	router_id {{ inventory_hostname }}

	!! Mail notification
#	notification_email {
#
#	}
#	notification_email_from <EMAIL ADDRESS> 
#	smtp_server <ADDRESS>		   
#	smtp_connect_timeout <INTEGER>	   

}


!! Include the rest of the configuration
include /etc/keepalived/conf.d/*.conf

