#!/bin/bash

echo "$0 $@" >> /tmp/tutu
SCR_TAG="keepalived_status"

TYPE=$1

if [ "$TYPE" == "REAL_SERVER" ]; then
	# Real Server notification
	IP=$1
	PORT=$2
	STATE=$3
	MSG="$TYPE $STATE $IP:$PORT"

	logger -t $SCR_TAG "$MSG"
	
elif [[ "$TYPE" == "GROUP" || "$TYPE" == "INSTANCE" ]]; then
	# VRRP notification
	NAME=$2
	STATE=$3
	PRIORITY=$4
	MSG="$TYPE $STATE $NAME ($PRIORITY)"

	logger -t $SCR_TAG "$MSG"
else
	# Show Help
	echo -e "Usage:"
	echo -e "  $0 REAL_SERVER <IP> <PORT> UP|DOWN"
	echo -e "  $0 GROUP|INSTANCE <NAME> MASTER|BACKUP|FAULT <PRIORITY>"
	echo -e ""
	echo -e "Help:"
	echo -e "  This script will send to syslog the keepalived status"
	echo -e ""
	echo -e "Example:"
	echo -e "  $0 REAL_SERVER 10.0.42.10 8080 UP"
	echo -e "  $0 INSTANCE web BACKUP 90"
	echo -e ""
	echo -e "Author:"
	echo -e "  robin.cordier@savoirfairelinux.com, 08/01/16, BSD license"
	echo -e ""
fi


