
<h1>Welcome on {{ ansible_hostname}}</h1>

<p>You see this page because:</p>
 <ul>
  <li>You haven't used a proper domain name</li>
  <li>Varnish is down</li>
  <li>All Varnish backend servers are down</li>
</ul> 
